@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>
<div class="container">
<div class="row">
<div class="col-sm-6">
<div class="d-flex">
<div class="card">
<div class="card-body">
<Card Style="width:18rem;">
    <CardBody>
        <CardTitle>About BeWell</CardTitle>
        <CardText><p>This application is desgined to allow users to track their Nutrition, Sleep and Activity. </p>
                 <p> By entering your data this application will allow you to keep up to date with your habits!</p>
        </CardText>
        <Button Color="ButtonColor.Primary" To="Account/Manage" Type="BlazorBootstrap.ButtonType.Link">Account</Button>
    </CardBody>
</Card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
<div class="row">
<div class="col-sm-6">
<div class="d-flex">
<div class="card">
<div class="card-body">
<Card Style="width:18rem;">
    <CardBody>
        <CardTitle>How to use our application</CardTitle>
        <CardText><p> Users should start by making a account with BeWell, this is because our application will be able to provide a more unique experience to your journey</p>
                 <p>After you make an account you will be able to access the BeWell calandar where you can add your HONEST data into! It will display this data for you so it is easy to monitor and change at your leisure.</p>
        </CardText>
        <Button Color="ButtonColor.Primary" To="Account/Manage" Type="BlazorBootstrap.ButtonType.Link">Account</Button>
        
    </CardBody>
</Card>
</div>
</div>
</div>
</div>
</div>
</div>
