@using Rebecca.BeWell.BlazorApp.Shared.Models
@page "/calendar"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))


<PageTitle>Calendar</PageTitle>



<h3>Calendar</h3>

<RadzenScheduler @ref=@scheduler SlotRender=@OnSlotRender style="height: 768px;" TItem="Appointment" Data=@appointments StartProperty="Start" EndProperty="End"
                 TextProperty="Text" @* SelectedIndex="2" *@
                 SlotSelect=@OnSlotSelect AppointmentSelect=@OnAppointmentSelect AppointmentRender=@OnAppointmentRender
                 AppointmentMove=@OnAppointmentMove >
    <RadzenDayView />
    <RadzenWeekView />
    <RadzenMonthView />
</RadzenScheduler>